<body>
<h1>Agregar  Menu</h1>
<form id="agregarMenu" (ngSubmit)="agregarMenu()">


  <label for="idModulo">Modulos:</label>
  <br>
  <select id="idModulo" type="text" class="form-control form-control-lg " [(ngModel)]="menu.idModulo"  [ngModelOptions]="{standalone:true}" requered>
     <option ></option>
     <option *ngFor="let mod of modulos" [value]="mod.idModulo">{{mod.nombre}}</option>
        </select>
        <br>

  <label for="nombre">Nombre Menu:</label>
  <br>
  <input type="text" id="nombre" name="nombre" [(ngModel)]="menu.nombre" [ngModelOptions]="{standalone:true}"required><br><br>

  <label for="orden">Orden Menu:</label>
  <br>
  <input type="number" id="orden" name="orden" [(ngModel)]="menu.ordenMenu" [ngModelOptions]="{standalone:true}"required><br><br>



  <input type="submit" value="Guardar">

</form>
<button type="button" class="btn btn-danger" (click)="cancelar()">Cancelar</button>
</body>
