<h1>USUARIOS</h1>
<a href="home" style="background-color: #00BFFF; color: white; padding: 10px 20px; text-decoration: none; font-size: 16px; margin: 10px; display: inline-block; cursor: pointer;">inicio</a>

<table>
    <thead>
      <tr>
        <th>ID</th>
        <th>NOMBRE</th>
        <th>APELLIDO</th>
        <th>ESTADO</th>
        <th>CORREO ELECTRONICO</th>
        <th>TELEFONO</th>
        <th>SUCURSAL</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let fila of usuarios">
        <td>{{ fila.idUsuario }}</td>
        <td>{{ fila.nombre}}</td>
        <td>{{ fila.apellido}}</td>
        <td>{{ fila.idStatusUsuario}}</td>
        <td>{{ fila.correoElectronico}}</td>
        <td>{{ fila.telefonoMovil}}</td>
        <td>{{ fila.idSucursal}}</td>
        <td>
         
          <button type="button" *ngIf="delete" class="btn btn-danger" (click)="eliminar(fila)">Eliminar</button>
          <button type="button" *ngIf="edit"class="btn btn-danger" (click)="editar(fila)">Editar</button>


       
        </td>
        
      </tr>
    </tbody>
  </table>

  <button type="button" *ngIf="create" class="btn btn-danger" (click)="agregar()">AGREGAR</button>
  <button type="button" *ngIf="print" class="btn btn-danger" >IMPRIMIR</button>
  <button type="button" *ngIf="export" class="btn btn-danger" >EXPORTAR</button>
