
<body>
  <h1>Editar Empleado</h1>
  <form id="editarEmpleado" (ngSubmit)="editarEmpleado()">


    <label for="idPersona">Persona:</label>
    <select id="idPersona" type="text" class="form-control form-control-lg " [(ngModel)]="empleado.idPersona"  [ngModelOptions]="{standalone:true}" disabled requered>
       <option ></option>
       <option *ngFor="let pers of persona" [value]="pers.idPersona">{{pers.nombre}}</option>
          </select>
          <br>

          <label for="idSucursal">Sucursal:</label>
          <select id="idSucursal" type="text" class="form-control form-control-lg " [(ngModel)]="empleado.idSucursal"  [ngModelOptions]="{standalone:true}" requered>
          <option ></option>
          <option *ngFor="let suc of sucursal" [value]="suc.idSucursal">{{suc.nombre}}</option>
          </select>
          <br>

          <label for="fechaContratacion">Fecha Contratacion:</label>
          <input type="date" id="fechaContratacion" name="fechaContratacion" [(ngModel)]="empleado.fechaContratacion" [ngModelOptions]="{standalone:true}"required><br><br>

          <label for="idPuesto">Puesto:</label>
          <select id="idPuesto" type="text" class="form-control form-control-lg " [(ngModel)]="empleado.idPuesto"  [ngModelOptions]="{standalone:true}" requered>
            <option ></option>
            <option *ngFor="let pues of puesto" [value]="pues.idPuesto">{{pues.nombre}}</option>
            </select>
            <br>

            <label for="idStatusEmpleado">Status Empleado:</label>
            <select id="idStatusEmpleado" type="text" class="form-control form-control-lg " [(ngModel)]="empleado.idStatusEmpleado"  [ngModelOptions]="{standalone:true}" requered disabled>
              <option ></option>
              <option *ngFor="let pues of statusempleado" [value]="pues.idStatusEmpleado" >{{pues.nombre}}</option>
              
                 </select>
                 <br>

                 <label for="idStatusEmpleado">Status Nuevo:</label>
            <select id="idStatusEmpleado" type="text" class="form-control form-control-lg " [(ngModel)]="empleado.idNuevo"  [ngModelOptions]="{standalone:true}" requered >
              <option ></option>
              <option *ngFor="let pues of statusNuevo" [value]="pues.idStatusEmpleado" >{{pues.nombre}}</option>
              
                 </select>
                 <br>

            <label for="ingresosueldobase">Ingreso Sueldo Base:</label>
            <input type="double" id="ingresosueldobase" name="ingresosueldobase" [(ngModel)]="empleado.ingresoSueldoBase" [ngModelOptions]="{standalone:true}"required><br><br>

            <label for="ingresobonificaciondecreto">Ingreso Bonificacion Decreto:</label>
            <input type="double" id="ingresobonificaciondecreto" name="ingresobonificaciondecreto" [(ngModel)]="empleado.ingresobonificacionDecreto" [ngModelOptions]="{standalone:true}"required><br><br>

            <label for="ingresootrosingresos">Otros Ingresos:</label>
            <input type="double" id="ingresootrosingresos" name="ingresootrosingresos" [(ngModel)]="empleado.ingresoOtrosIngresos" [ngModelOptions]="{standalone:true}"required><br><br>


    <input type="submit" value="Guardar">

  </form>
  <button type="button" class="btn btn-danger" (click)="cancelar()">Cancelar</button>
</body>
