<body>
    <h1>Formulario de Editar Flujo Estatus Empleado</h1>
    <form id="editarFlujoStatusEmpleado" (ngSubmit)="editarFlujoStatusEmpleado()"> 
 
        <label for="idStatusActual">Estatus Actual:</label>
        <input type="text" id="idStatusActual" name="idStatusActual" [(ngModel)]="flujoEstatusEmpleado.id.idStatusActual" [ngModelOptions]="{standalone:true}"required><br><br>
        
        <label for="idStatusNuevo">Estatus Actual:</label>
        <input type="text" id="idStatusNuevo" name="idStatusNuevo" [(ngModel)]="flujoEstatusEmpleado.id.idStatusNuevo" [ngModelOptions]="{standalone:true}"required><br><br>

        <label for="nombreEvento">Nombre del Evento:</label>
        <input type="text" id="nombreEvento" name="nombreEvento" [(ngModel)]="flujoEstatusEmpleado.nombreEvento" [ngModelOptions]="{standalone:true}"required><br><br>

        <input type="submit" value="Guardar">
    
    </form>
    <button type="button" class="btn btn-danger" (click)="cancelar()">Cancelar</button>
</body>