<a href="home" style="background-color: #00BFFF; color: white; padding: 10px 20px; text-decoration: none; font-size: 16px; margin: 10px; display: inline-block; cursor: pointer;">inicio</a>

<table id="statusEmpleado">
    <thead>
      <tr>
        <th>ID EMPLEADO</th>
        <th>NOMBRE</th>
        <th>FECHA DE CREACION</th>
        <th>USUARIO DE CREACION</th>
        <th>FECHA DE MODIFICACION</th>
        <th>USUARIO DE MODIFICACION</th>
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let fila of statusEmpleado">
        <td>{{ fila.idStatusEmpleado }}</td>
        <td>{{ fila.nombre}}</td>
        <td>{{ fila.fechaCreacion}}</td>
        <td>{{ fila.usuarioCreacion}}</td>
        <td>{{ fila.fechaModificacion}}</td>
        <td>{{ fila.usuarioModificacion}}</td>
        <td>
         
          <button type="button" *ngIf="delete" class="btn btn-danger" (click)="eliminar(fila)">Eliminar</button>
          <button type="button" *ngIf="edit"class="btn btn-danger" (click)="editar(fila)">Editar</button>
       
        </td>
        
      </tr>
    </tbody>
  </table>

  <button type="button" *ngIf="create" class="btn btn-danger" (click)="agregar()">AGREGAR</button>
  <button type="button" *ngIf="print" class="btn btn-danger" onclick="javascript:window.print()" >IMPRIMIR</button>
  <button type="button" *ngIf="export" class="btn btn-danger" (click)="exportToExcel()" >EXPORTAR</button>


